body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    color: #2e2f42;
}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts-mail,
.contacts-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color:#434455
}

.contacts-mail:hover, 
.contacts-phone:hover {
    color: #4d5ae5
}

.contacts-mail:focus,
.contacts-phone:focus {
    color: #4d5ae5
}

.hero-section {
    background-color: #2e2f42;
}

.hero-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color:#ffffff;
}

.values-title, 
.team-title, 
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.values-text,
.team-text,
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.team-section {
    background-color: #f4f4fd;
}

.team-item {
    background-color: #ffffff;
}

.team-header,
.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
}

.page-footer {
    background-color: #2e2f42;
    color:#f4f4fd;
}

.footer-logo {
    color:#f4f4fd
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

